.mx-menu{
	margin: 0px auto;
	padding: 0px;
}
.mx-menu li{
	margin-left: 40px;
}
.visible-sm-block, .visible-md-block, .visible-lg-block{
	display: block !important;
}
button{
	background-color: #25a55b;
}
button:hover{
	background-color: #33bb6c;
}
.owl-dot{
	background-color: #8796a3;
}