@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500&subset=latin,cyrillic);
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #444444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

a {
  text-decoration: none;
  color: #ffffff; }

/* centering blocks */
.conteiner-horisontal {
  padding: 0px;
  width: 100%;
  position: relative;
  float: left; }

.horisontal-line {
  max-width: 1349px;
  margin: 0px auto;
  position: relative;
  padding: 0px; }

.conteiner-center {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  position: relative;
  padding: 0px 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* Lists */
ul {
  display: block; }
  ul li {
    list-style-type: none; }

button {
  padding: 6px 22px;
  background-color: #25a55b;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  button:hover {
    background-color: #33bb6c; }
  button:active {
    background-color: #2f9d5d; }

/* head line */
.mx-headline {
  display: block;
  min-height: 44px;
  background-color: #2c3e50; }

.mx-logo {
  width: 140px;
  display: block; }
  @media only screen and (max-width: 768px) {
    .mx-logo {
      margin: 10px auto; } }

.mx-menu {
  width: 250px;
  margin: 0px auto; }
  @media only screen and (max-width: 768px) {
    .mx-menu {
      width: 280px; } }
  .mx-menu li {
    float: left;
    line-height: 44px; }
    .mx-menu li a {
      color: #ffffff;
      font-size: 15px;
      font-weight: 400; }
      .mx-menu li a:hover {
        text-decoration: underline; }
  .mx-menu li:not(:first-child) {
    margin-left: 38px; }

.mx-button-enter {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin: 5px 0px; }
  @media only screen and (max-width: 768px) {
    .mx-button-enter {
      float: right; } }

/* Slider */
.mx-slider {
  background-image: url(../img/img_slider1.png);
  background-repeat: no-repeat;
  background-position: top center; }

.owl-carousel {
  display: block;
  min-width: 100%; }
  .owl-carousel .item {
    position: relative;
    display: block;
    width: 100%; }
    .owl-carousel .item .mx-slider-info {
      float: right;
      max-width: 500px;
      min-width: 320px;
      height: 420px;
      margin-right: 140px;
      text-align: center; }
      @media only screen and (max-width: 550px) {
        .owl-carousel .item .mx-slider-info {
          margin-right: 80px; } }
      @media only screen and (max-width: 450px) {
        .owl-carousel .item .mx-slider-info {
          margin-right: 40px; } }
      @media only screen and (max-width: 380px) {
        .owl-carousel .item .mx-slider-info {
          margin-right: 0px; } }
      .owl-carousel .item .mx-slider-info h2 {
        font-size: 55px;
        font-weight: 100;
        padding-top: 40px;
        color: #555555;
        text-align: center; }
        @media only screen and (max-width: 550px) {
          .owl-carousel .item .mx-slider-info h2 {
            font-size: 45px; } }
      .owl-carousel .item .mx-slider-info .mx-button-go {
        color: #ffffff;
        margin-top: -20px; }

.owl-dots {
  position: absolute;
  text-align: center;
  margin-top: -40px;
  margin-left: 45%; }
  .owl-dots .owl-dot {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background-color: rgba(44, 62, 80, 0.5);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
  .owl-dots > .active {
    background-color: #2c3e50; }

.owl-next {
  position: absolute;
  width: 16px;
  height: 30px;
  margin-top: -210px;
  right: 42px;
  display: block;
  background-image: url(../img/next.png);
  background-repeat: no-repeat;
  background-position: top center; }

.mx-text {
  width: 100%;
  display: block;
  margin-top: 45px; }
  .mx-text h1 {
    font-size: 35px;
    font-weight: 300;
    color: #2c3e50; }
  .mx-text p {
    font-size: 15px;
    font-weight: 300; }
    @media only screen and (max-width: 768px) {
      .mx-text p {
        text-align: justify;
        padding: 0px 10px; } }

.mx-wrap-photo-block {
  max-width: 380px;
  display: block;
  float: right;
  margin-top: 45px; }
  @media only screen and (max-width: 768px) {
    .mx-wrap-photo-block {
      float: none;
      margin: 0px auto; } }
  .mx-wrap-photo-block > span {
    font-size: 11px;
    font-weight: 300;
    color: #2c3e50; }
  .mx-wrap-photo-block .mx-foto {
    width: 100%;
    display: block;
    margin-top: 5px; }
    .mx-wrap-photo-block .mx-foto img {
      width: 100%; }

/*# sourceMappingURL=style.css.map */
