
/* head line */
.mx-headline{
	display: block;
	min-height: 44px;
	background-color: $color_dark_blue;
}
.mx-logo{
	width: 140px;
	display: block;
	@media only screen and (max-width: 768px){
		margin: 10px auto;
	}
}
.mx-menu{
	width: 250px;
	margin: 0px auto;
	@media only screen and (max-width: 768px){
		width: 280px;
	}
	& li{
		float: left;
		line-height: 44px;
		& a{
			color: #ffffff;
			font-size: 15px;
			font-weight: 400;
			&:hover{
				text-decoration: underline;
			}
		}	
	}
	& li:not(:first-child){		
		margin-left: 38px;		
	}
}
.mx-button-enter{
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	margin: 5px 0px;
	@media only screen and (max-width: 768px){
		float: right;
	}
}

/* Slider */
.mx-slider{
	background-image: url(../img/img_slider1.png);
	background-repeat: no-repeat;
	background-position: top center;
}
.owl-carousel{
	display: block;
	min-width: 100%;
	& .item{
		position: relative;
		display: block;
		width: 100%;
		& .mx-slider-info{
			float: right;
			max-width: 500px;
			min-width: 320px;
			height: 420px;
			margin-right: 140px;
			text-align: center;
				@media only screen and (max-width: 550px){
					margin-right: 80px;
				}
				@media only screen and (max-width: 450px){
					margin-right: 40px;
				}
				@media only screen and (max-width: 380px){
					margin-right: 0px;
				}
			& h2{
				font-size: 55px;
				font-weight: 100;
				padding-top: 40px;
				color: $text_color_dark;
				text-align: center;
				@media only screen and (max-width: 550px){
					font-size: 45px;
				}
			}
			& .mx-button-go{
				color: #ffffff;
				margin-top: -20px;

			}
		}
		
	}
}
.owl-dots{
	position: absolute;
	text-align: center;
	margin-top: -40px;
	margin-left: 45%;
	@media only screen and (max-width : 400px){
		
	}
	& .owl-dot{
		position: relative;
		float: left;
		width: 16px;
		height: 16px;
		margin-left: 3px;
		background-color: rgba($color_dark_blue, 0.5);
		@include border-radius(50%);		
	}
	& > .active{
		background-color: $color_dark_blue;
	}
}
.owl-next{
	position: absolute;
	width: 16px;
	height: 30px;
	margin-top: -210px;
	right: 42px;
	display: block;
	background-image: url(../img/next.png);
	background-repeat: no-repeat;
	background-position: top center;
}