@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,900,700,500&subset=latin,cyrillic);

body{
	font-family: 'Roboto', sans-serif;
	background-color: $body_color;
	color: $text_color;	
	@include box-sizing;
}
a{
	text-decoration: none;
	color: #ffffff;
}
/* centering blocks */
.conteiner-horisontal{
	padding: 0px;
	width: 100%;
	position: relative;	
	float: left;
}
.horisontal-line{
	max-width: 1349px;		
	margin: 0px auto;	
	position: relative;
	padding: 0px;
}
.conteiner-center{
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	position: relative;
	padding: 0px 10px;
	@include box-sizing;
}
/* Lists */
ul{
	display: block;
	& li{
		list-style-type: none;
	}
}

/* form */
::-webkit-input-placeholder{
	color: $text_color_dark;
	font-weight: 300;
	font-size: 20px;
}
::-moz-placeholder{
	color: $text_color_dark;
	font-weight: 300;
	font-size: 20px;
}
:-moz-placeholder{
	color: $text_color_dark;
	font-weight: 300;
	font-size: 20px;
}
:-ms-input-placeholder{
	color: $text_color_dark;
	font-weight: 300;
	font-size: 20px;
}
:-o-input-placeholder{
	color: $text_color_dark;
	font-weight: 300;
	font-size: 20px;
}
input{
	width: 300px;
	height: 48px;
	display: block;
	border: none;
	margin: 0px auto 10px auto;
	font-size: 20px;
	font-weight: 300;
	color: $text_color_dark;
	background-color: #f5f5f5;
	padding-left: 20px;
	@include border-radius(3px);
	@include box-sdadow(0px, -1px, 0px, 0px, .3);
	@include box-sizing;
	@media only screen and (max-width: 450px){
		width: 250px;
		height: 38px;
	}
}