
/* button style */
button{
	padding: 6px 22px;	
	@include linear-gradient(to bottom, $buttuon_color, $buttuon_color * 1.3); 
	background: -webkit-linear-gradient(bottom, $buttuon_color, $buttuon_color * 1.3);   
	border: none;
	@include border-radius(3px);
	&:hover{
			@include linear-gradient(to bottom, $buttuon_color_hover, $buttuon_color_hover * 1.3); 
			background: -webkit-linear-gradient(bottom, $buttuon_color_hover, $buttuon_color_hover * 1.3);
	}
	&:active{
		background-color: #2f9d5d;
	}
}